# Homework 1: Demonstrate Binary, BaseN, Floating Point Number and Round-Off Error

# Demonstrating Based-N

Base(10) also known as the Decimal System is our conventional way of representing numbers ranging from digits 0-9.

In [ ]:
print('#147.3(Base10) ==', 147.3 == 1*(10**2) + 4*(10**1) + 7*(10**0) + 3*(10**-1))

#147.3(Base10) == True

In [ ]:
print('121(Base3) = 16(Base10) ==' ,1*(3**2) + 2*(3**1) + 1*(3**0) == 1*(10**1) + 6*(10**0))

121(Base3) = 16(Base10) == True

# Demonstrating Converting to Binary and Back.
Binary is Base(2) and differs from the Demical System by having numbers only range from 0-1. Using python function such as bin() and int() we can convert to and from binary.

In [ ]:
print(289,'=',bin(289),'\n',989,'=',bin(989),'\n',18967, '=',bin(18967))

289 = 0b100100001
 989 = 0b1111011101
 18967 = 0b100101000010111

**Now to Demonstrate Multiplication, Addition and Division with binary**

In [ ]:
x = 0b100100001
y = 0b1111011101
z = 0b100101000010111

print('0b10010001 + 0b1111011101 =', x+y)
print('0b1111011101 + 0b100101000010111 =', y+z)

0b10010001 + 0b1111011101 = 1278
0b1111011101 + 0b100101000010111 = 19956

Multiplication

In [ ]:
x = 0b100100001
y = 0b1111011101
z = 0b100101000010111

print('0b10010001 * 0b1111011101 =', x*y)
print('0b1111011101 * 0b100101000010111 =', y*z)

0b10010001 * 0b1111011101 = 285821
0b1111011101 * 0b100101000010111 = 18758363

Division

In [ ]:
x = 0b100100001
y = 0b1111011101
z = 0b100101000010111

print('0b10010001 / 0b1111011101 =', x/y)
print('0b1111011101 / 0b100101000010111 =', y/z)

0b10010001 / 0b1111011101 = 0.29221435793731043
0b1111011101 / 0b100101000010111 = 0.052143196077397584

# Floating Point Number

**Demonstrating how floating point works**

Book explains to use sys to get float information

In [2]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [3]:
import numpy as np

This is to demonstrate the gap at 1e^6. Then to verify that said gap is indeed less then half the gap at 1e^6.

In [4]:
print('Gap at 1e6 = ', np.spacing(1e6))

Gap at 1e6 =  1.1641532182693481e-10

In [5]:
print('+1e6 < 1e6/3 ==' ,1e6 == (1e6 + np.spacing(1e6)/3))

+1e6 < 1e6/3 == True

If a number has an exponent of 2047 then it will return a value of infinity due to it being an overflow error. And thus the same for the opposite numbers those result in 0 and are characterized as underflow.

In [6]:
largest = (2**(2046-1023))*((1 + sum(0.5**np.arange(1, 53))))
largest

1.7976931348623157e+308

In [7]:
sys.float_info.max

1.7976931348623157e+308

In [8]:
smallest = (2**(1-1023))*(1+0)
smallest

2.2250738585072014e-308

Overflow and Underflow example

In [11]:
print('Overflow Example ==', sys.float_info.max + sys.float_info.max)

Overflow Example == inf

In [12]:
print('Underflow Example ==', 2 ** (-1075))

Underflow Example == 0.0

# Roundoff Error Section
**Roundoff Error is a calculation that establishes the difference between a experimental/computational value compared to the true value.**

In [16]:
print('Roundoff Error Example, 10.98 - 7.657 == 3.323')
10.98 - 7.657 == 3.323

Roundoff Error Example, 10.98 - 7.657 == 3.323

False

In [17]:
print('True Value, 10.98 - 7.657')
10.98 - 7.657

True Value, 10.98 - 7.657

3.3230000000000004

Demonstrated above is an example of roundoff error. Where we showed that rounding in the first equation is not accurate and the code solves the same question giving us the true answer.

In [19]:
print('Using python to round and checking the results')
print('round(10.98 - 7.657, 6)  == round(3.323 , 6)')
round(10.98 - 7.657, 6)  == round(3.323 , 6)

Using python to round and checking the results
round(10.98 - 7.657, 6)  == round(3.323 , 6)

True

Roundoff error also has an effect when doing a sequence of calculations this is known as accumulated roundoff error.

In [65]:
print('One calculation, 10+1/7-1/7')
10+1/7-1/7

One calculation, 10+1/7-1/7

10.0

We can demonstrate this by running a sequence of calculations using python as such.

In [66]:
def add_and_subtract(iterations):
    result = 10

    for i in range(iterations):
        result += (1/7)

    for i in range(iterations):
        result -= (1/7)
    return result

In [78]:
print('Run the same calculation 1000 times and results in')
add_and_subtract(1000)

Run the same calculation 1000 times and results in

9.999999999999996

In [76]:
print('Run the same calculation 25000 times and results in')
add_and_subtract(25000)

Run the same calculation 25000 times and results in

10.000000000000107

In [77]:
print('Run the same calculation 100000 times and results in')
add_and_subtract(150000)

Run the same calculation 100000 times and results in

9.999999999999655

These all demonstrate how accumulation works and how just a large number of iterations can result in error.